@media screen and (min-width: 1200px){
    /*card */
    .card{
   
    width: 100%;
    height: 44rem;
    background-color: blue;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.card-infos{
    background-color: rgb(255, 255, 255);
     padding: 0.8rem;
  }
.card-infos h1{
    font-size: 1.2rem;
}
.card-infos h2{
    font-size: 0.8rem;
}

.fa-check{
    font-size: 0.7rem;
    color: rgb(14, 2, 2);
    display: block;
    margin-right: 0.4rem;
    border: 0.5px solid black;
    border-radius: 100%;
    padding: 0.5px;
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card-container{
    width: 90%;
    height: 80%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(3,17rem);
    margin: 0 auto;
}

.card .card-title{
    text-transform: uppercase;
    text-align:center;
    color: white;
    font-size: 1.8rem;
    margin-top: -10px;
}

         /*client */
             /*advertise section*/
    .advetise{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-attachment: fixed;
        flex-direction:column;
        color: rgb(12, 6, 6);
        width: 30rem;
    }
    .advetise h1{
        font-size:1rem;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        margin-bottom:2rem;
    }
    .advetise .btn{
       width: 10rem;
       height:2.5rem;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgb(143, 129, 221);
       padding: 0.8rem;
       border-color: rgb(237, 240, 237);
       align-self: flex-start;
        
    }
.client-number{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 3rem auto;
   
}
.client-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 4rem;
}
.client-item h1{
    font-size: 3rem;
    margin-top: -1rem;
    color: rgb(119, 5, 119);
    
}
.client-item p{
    font-size: 1rem;
    margin-top: -1rem;
    font-weight: bold;
}
.show-bussiness{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    margin:4rem 0;
    grid-gap: 4rem;
}
.show-bussines-image{
    display: none;
    flex-basis: 65%;
    margin-top: 2rem;
    position: relative;
}
.show-bussiness-infos {
    flex-basis: 45%;
    margin-left: 1.5rem;
}
.show-bussiness-infos h3{
   color: rgb(168, 25, 25);
   font-size: 1.8rem;
}
.show-bussiness-infos h1{
    color: rgb(13, 11, 107);
    font-size: 2.5rem;
 }
 .show-bussiness-infos .btt{
      height: 3rem;
      width: 15rem;
      color: white;
      background-color:rgb(168, 25, 25);
      font-size: 1rem;
      margin-top: 1.5rem;
}
.show-bussiness-infos p{
    margin-bottom: 1.5rem;
} 


.shadow{
    background-color: rgb(142, 172, 201);
    height: 30rem;
    width: 40rem;
    position: absolute;
    border-radius: 50%;
    top: 125rem;
    right: -7.5rem;
    z-index: -100;
}

.services-resume{
       display: grid;
       grid-template-columns: 20rem 32rem;
       justify-content: space-around;
       align-items: center;
       margin: 3rem auto;
       width: 100%;
}

.services-resume h1{
    color: rgb(9, 6, 56);
}


         /* contact*/

         body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    width: 100vw;
    height: 20rem;
    margin-bottom: 12rem;
}

.contact__container{
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    justify-content: space-around;
    width: 95vw;
    margin: 2.5rem auto;
}
.contact__form h1{
      font-size: 2.2rem;
      color: rgb(17, 3, 49);
}
.contact__form {
   color: rgb(145, 145, 7);
   font-size: 1rem;
}
.contact__form{
    background: transparent;
}

.form__input{
    margin: 1rem 0;
}

.form__input input{
    height: 2rem;
    width: 18rem;
    margin-right: 0.7rem;
    background-color:  #f4f4f4;
    border: 1px solid  #908fed;
    outline: none;
}
.form__message__field input{
    width: 37.3rem;
    height: 6rem;
    background-color: #f4f4f4;
    border: 1px solid  #908fed;
    outline: none;
    margin-top: 1.5rem;
}
.contact__btn{
    margin-top: 1rem;
    width: 11rem;
    height: 3rem;
    background-color: rgb(38, 140, 6);
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
}
input{
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.contact__infos{
    padding: 0 2rem;
    border: none;
    border-left: 2px solid #c8c7f7;
}
table{
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
 table tr td{ 
    margin: 1rem;
    height: 3rem;
}
.far{
    font-size: 1rem;
}
.fas{
    font-size: 1rem;
}

table tr td:first-child{
    padding-right: 1rem;
   
    color: rgb(218, 95, 14);
}
.table tr td:last-child{
     font-weight: bold;
}
.social__contact{
    width: 100%;
}
.social__contact ul{
    display: flex;
    list-style: none;
    padding-left:0;
    width: 100%;
}
.social__contact ul li{
    margin-right: 2rem;
    margin-left: 0;
}

.social__contact a{
    color: rgb(81, 82, 8);
    padding-left: 0;
}

/*ideal*/
.ideal{
    display: grid;
    grid-template-columns: 30rem 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.ideal-itemA{
    margin: 1.5rem;
}
.ideal-itemA h1{
    font-size: 3rem;
    color: rgb(13, 13, 104);
    
}
.ideal-itemA h2{
    font-size: 1.8rem;
    color: rgb(87, 46, 7);
    align-items: flex-start;
    margin-left: -14rem;
}
.ideal-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
}
.ideal-form-icons{  
    font-size: 2.2rem;
    background-color: rgb(255, 255, 255);
}
.p-title{
    font-weight: bold;
}

.fa-width{
    font-size: 2rem;
    margin: 0 2.2rem;
    padding: 1.5rem;
    border-radius: 100%;
    color:  rgb(44, 27, 1);
    background-color: rgb(255, 255, 255);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -2px 4px 14px 10px rgba(92,49,244,0.12); 
    box-shadow: -2px 4px 14px 10px rgba(92,49,244,0.12);
}
.ideal-itemA{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/*main*/
  
          /* showcase section*/

          .showcase{
            margin: 1.5rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-around;
            align-items: center;
            width: 90vw;
            grid-gap: 4rem;
            position: relative;
        }
        .show-case-image{
            margin-left: 1rem;
        }
        .showcase-infos {
            flex-basis: 45%;
            margin-left: 1rem;
        }
        .showcase-infos h3{
           color: rgb(168, 25, 25);
           font-size: 1.2rem;
        }
        .showcase-infos h1{
            color: rgb(9, 6, 56);
            font-size: 2rem;
         }
         .showcase-infos .btt{
              height: 3rem;
              width: 15rem;
              color: white;
              background-color:rgb(168, 25, 25);
              font-size: 1rem;
              margin-top: 1.5rem;
        }
        .showcase-infos p{
            margin-bottom: 1.5rem;
        } 
        
                            /* about section*/

.about{
    text-align: center;
    background-color: rgb(255, 255, 255);

}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 21.5rem;
    margin: 0 auto;
    padding: 1.25rem;
    grid-gap: 1.9rem;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    margin-top: 1.9rem;
}
.about-btn{
    font-size: 0.75rem;
    margin-top: 0.625rem;
    height: 2.5rem;
    width: 7.9rem;
    border: 0.125px solid black;
    border-radius: 1rem;
    color: black;
    background-color: white;
    text-transform: uppercase;
    padding: 0.625rem;
    font-weight: bold;
}
.img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.about-image{
    background-color: rgba(0, 0, 0, 0.9);
    height: 90%;
    align-self: flex-end;
}
                             
                                  /* services  section*/
.services{
    width: 100;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
}
.container-services{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 1.9rem;
    width: 90vw;
    height: 20rem;
    padding: 0.625rem 0.25rem;
}
.services-itemA{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 0.9rem;
    color: rgb(0, 0, 0);
    width: 16rem;
    font-weight: lighter; 
    margin: 0;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: -2px 4px 14px 10px rgba(92,49,244,0.11); 
    box-shadow: -2px 4px 14px 10px rgba(92,49,244,0.11);
    border: 1px solid white;
    height: 20rem;
    
}
.services-itemA p{
    display: block;
    margin-top: 0;
    padding: 0.625rem;
}
.services-itemA  .fas{
    font-size: 2.2rem;
    background: transparent;
    color: rgb(28, 6, 105);
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-itemA h1{
    
       color: rgb(0, 0, 0);
       padding-top: 1.6rem;
       text-transform: uppercase;
       font-size: 1.5rem;
       font-weight: bold;
       text-transform: capitalize;
       margin-top: -1rem;
}
.services-resume{
    width: 90vw;
    padding: 0;
}

                   /*our nteam section*/
.ourteam{    
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(109, 109, 177);
}
.ourteam-container{
    margin: 0 auto;
    width: 85vw;
    height: 22rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1.25rem;
}
.ourteam-itemA{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 17rem;
}
.ourteam-itemA ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.ourteam-itemA ul li{
    margin: 1rem;
    margin-top: 0.5rem;
}
.ourteam-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: -3.5rem;
    border: 0.25rem solid white;
}
.ourteam-itemA p{
    margin: 0.2rem 0.2rem;
}
.ourteam-itemA h3{
    margin: 0.8rem 0;
    color: blue;
}
.ourteam-itemA h4{
    margin: 0.4rem 0;
    color: rgb(16, 224, 9);
}

.ourteam-text h1{
    margin-top: 40px;
    color: rgb(240, 230, 230);
}
.trait{
    width: 6.25rem;
    background-color: white;
    height: 0.3rem;
    margin-bottom: 1rem;
}
.ourteam-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     }
    
                                 /*footer section*/
.footer-container{
    height: 18rem;
    background: black;
    width: 100vw;
}
.footer p{
    font-size: 0.9rem;
}
.footer h3{
    font-size: 1rem;
    color: rgb(149, 221, 16);
}
.footer{
    margin: 0 auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    color: white;
    grid-gap: 1.25rem;
    justify-content: space-around;
    align-items: center;
}
.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 14rem;
    height: 14rem;
}

.itemA{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10%;
}
.itemA ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    width: 100%;
    align-self: flex-end;
    margin:0;
}
.itemA ul li a{
    text-decoration: none;
    list-style: none;
    padding: 10px;
}
.itemA ul li{
    padding: 0px;
}
.itemB{
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0.2rem;
}
.itemB ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin-top:-0.9398rem;
    width: 100%;
    padding-left: 0;
}
.itemB ul li a{
    text-decoration: none;
    list-style: none;
    margin: 1rem;
    color: white;
}
.itemB ul li{
    display: flex;
    padding-left:0;
}
.fab{
    font-size: 1.25rem;
 }

 .itemC{
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     flex-direction: column;
     margin-top: 0.75rem;
 }
 
 .footer-form{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 8rem;
    align-items: center;
    margin-top: 0;
    flex-direction: column;
}
.footer-form input{ 
   height: 2rem;
   border:none;
   outline:none;
   display: block;
   width: 100%;
   margin-top:-1.6rem;
}
.footer-form button{
    height: 2rem;
    border: none;
    background: rgb(148, 223, 9);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top:0.5rem;
    align-self: flex-start;
    width: 45%;
  }
  .copyright{
      width: 100%;
      height: 3.25rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      background-color: rgb(19, 7, 7);
      margin-top: 12rem;
  }
  .site{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 11rem;
  }
  .fa-phone-square-alt{
      background-color:  rgb(19, 7, 7);
      font-size: 2rem;
      padding-right: 0.3rem;
   }
       /*style*/
       
html{
    scroll-behavior: smooth;
}
body{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
background-color: #ffffff;
}
                  /* navbar section*/

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    border-bottom: 3px solid rgb(243, 243, 247);
}
.navbar{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(26, 13, 13);
    padding-left: 4rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
     }
navbar ul li a:hover{
    color: rgb(212, 212, 44);
}

.navbar ul{
    list-style: none;
    margin-right: 1.5rem;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color:  rgb(6, 2, 41);
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.bars{
    color: white;
    display: none;
}


    .nav-links {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 350px;
        width: 200px;
        color: black;
        margin-top: 70px;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: black;
        font-size: 14px;
        transform: translateX(-250px);
    }

    a{
        color: white;
    }

    .bars{
        display: block;
        font-size: 25px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px;
    }
}




